<div class="container" style="margin-top:100px;">
    <div class="row profile">
		<div class="col-md-3 col-xs-6">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= current_user.email %>
					</div>
					<div class="profile-usertitle-job">
						Travel
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">환경설정</button>
					<button type="button" class="btn btn-danger btn-sm">몰라버튼</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							여행보기 </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-calendar"></i>
							일정보기 </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-edit"></i>
							메모보기 </a>
						</li>
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-th-large"></i>
							여행목록으로 돌아가기 </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		
		<div class="col-md-9 col-xs-6">
			<div class="profile-content">
			<!--여행표기-->
            <% @my_plan.each do |p| %> <!--count메소드-->
           
           		<!--<div class="row">-->
                        <div class="col-md-3 col-xs-12">
                            <div class="thumbnail">
                                <img src="http://s1.it.atcdn.net/wp-content/uploads/2015/05/Ultimate-travel-experience-Europe.jpg" width="300" length="200" alt="ALT NAME" class="img-responsive" />
                                <div class="caption">
                                    <h3 align="center"><%=p.title%></h3>
                                    <p align="center"><%=p.day%>일</p>
                                    <p align="center"><a href="/main_addmemo/<%=p.id%>" class="btn btn-primary btn-block">Open</a></p>
                                    <input type="hidden" value="<%= p.id %>" name="idofplan">
        	  					 	<p align="center"><a href="/destroy_plan/<%= p.id %>">[삭제]</a></p>
                                </div>
                            </div>
                        </div>
                <!--</div>-->
		    <%end%>
	        <!--<h5 style="margin-top:7.8%; margin-left:50px">-->
	        <%= link_to image_tag("plus.png", alt: "Rails"), "/main_makeplan/" %>
		    <!--</h5>-->
       		 </div>
		</div>
	</div>
</div>



                            