<head>
        <link rel="style.css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

 
<div class="container" style="margin-top:100px;">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= current_user.email %>
					</div>
					<div class="profile-usertitle-job">
						Travel
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">환경설정</button>
					<button type="button" class="btn btn-danger btn-sm">몰라버튼</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							여행보기 </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-calendar"></i>
							일정보기 </a>
						</li>
						<li class="active">
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-edit"></i>
							메모보기 </a>
						</li>
						<li>
							<a href="/main_addplan">
							<i class="glyphicon glyphicon-th-large"></i>
							여행목록으로 돌아가기 </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
          <div class="profile-content">
<body>



      <h3>제목</h3><h5><%=@memo_id.memotitle%></h5>
      <h3>내용</h3><h5><%=@memo_id.memocontent%></h5>
      
      <p><a href="/memo_update_view/<%= @memo_id.id %>">[수정]</a></p>
      <p><a href="/destroy_memo/<%= @memo_id.id %>">[삭제]</a></p>


  

</body>
          