      <br><br><Br><br>
      <div class="card card-container">
          <h2>Log In</h2>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
           <center>
            <a href="/users/auth/facebook" target="_self">  
            <%= image_tag("facebook_login.jpg", size: "260x40") %>
            </a>
            
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="form-inputs">
				    <%= f.input :email, label: false, input_html: { class: 'login_input' }, placeholder: 'example@google.com', autofocus: true %>
				    <%= f.input :password, label: false, input_html: { class: 'login_input', placeholder: 'Password' } %>
				    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				</div>
			    
				<div class="form-actions">
			    	<%= f.button :submit, "Log In", input_html: { class: 'login_input'} %>
				</div>
			<% end %>
            </center>
			<%#= render "devise/shared/links" %>
		
		
        </div><!-- /card-container -->
    </div><!-- /container -->

