<%= simple_form_for(@board) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="margin-top:150px">
    <%= f.input :title %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
